<div id="<%= dom_id experience %>">
  <p>
    <strong>User:</strong>
    <%= experience.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= experience.company %>
  </p>

  <p>
    <strong>Begin at:</strong>
    <%= experience.begin_at %>
  </p>

  <p>
    <strong>Finish at:</strong>
    <%= experience.finish_at %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= experience.desc %>
  </p>

</div>
